<p>The hero's birthday is {{birthday}}</p>
<p>The hero's birthday is {{birthday | date}}</p>
<p>The hero's birthday is {{birthday | date:'short'}}</p>
<p>The hero's birthday is {{birthday | date:'medium'}}</p>
<p>The hero's birthday is {{birthday | date:'long'}}</p>

<p>The hero's birthday is {{ birthday | date:"shortDate" }} in the "shortDate" format.</p>

<h1>Example: Formatting a date</h1>
<p>The hero's birthday is {{ birthday | date:format }} in "{{format}}" format.
  Click the toggle button to change formats.</p>

<button type="button" (click)="toggleFormat()">Toggle Format</button>

<h1>Example: Chaining two pipes together</h1>
<p>
  The chained hero's uppercase birthday is
  {{ birthday | date | uppercase}}
</p>

<p>
  The chained hero's uppercase birthday in "fullDate" format is
  {{ birthday | date:'fullDate' | uppercase}}
</p>

<form style="top: 5px; width: 720px; padding: 10px;" id="payment-form" class="cs-custom-scroll">
  <div id="payment-element">
 <!-- Elements will create form elements here -->
</div>
<div id="address-element"></div>

<button id="submit" class="button"(click)="handleSubmitForStripePayment()">Submit</button>
<div id="error-message" style="color: red;">
   
 <!-- Display error message to your customers here -->
</div>
</form>